<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brylle.aus_cs_app_android_j">

    <application
        android:name=".CSApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".home.AboutActivity"
            android:theme="@style/NoActionBarTheme">

<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->

        </activity>
        <activity android:name=".profile.RegisteredEventsActivity" />
        <activity android:name=".events.QRScanActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".intro.ForgotPasswordActivity" />
        <activity android:name=".home.HomeActivity" />
        <activity android:name=".intro.RegisterActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".intro.LoginActivity"
            android:theme="@style/NoActionBarTheme"/>
        <activity android:name=".intro.SplashActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <service
            android:name=".CSService"
            android:enabled="true"
            android:exported="true" />
    </application>
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>